// Media for header 
@media screen and (max-width: 1070px) {
  .header-nav__li {
    margin-right: 45px;
  }
}

@media screen and (max-width: 960px) {
  .header-nav__li {
    margin-right: 30px;
  }
}

@media screen and (max-width: 920px) {
  .header-nav {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}
// end of media header


// Media for hero
@media screen and (max-width: 910px) {
  .hero__title {
    font-size: 55px;
    max-width: 600px;
  }
  .hero__subtitle {
    max-width: 445px;
  }
}


@media screen and (max-width: 700px) {
  .hero__title {
    font-size: 40px;
    max-width: unset;
    width: 100%;
    margin-top: 220px;
  }
  .section-hero_bg {
    min-height: 665px;
  }
}

@media screen and (max-width: 530px) {
  .hero__title {
    font-size: 33px;
  }
  .hero__subtitle {
    font-size: 14px;
    width: 100%;
  }
  .section-hero_bg {
    min-height: 630px;
  }
}

@media screen and (max-width: 470px) {
  .header-prev {
    display: none;
  }
  .hero__title {
    // margin-top: 110px;
  }
  .section-hero_bg {
    // min-height: 520px;
  }
}

@media screen and (max-width: 445px) {
  .hero__title {
    font-size: 25px;
  }
  .hero__subtitle {
    font-size: 13px;
    max-width: 250px;
  }
}

// hero -2\ 
@media screen and (max-width: 1079px) {
  .hero-2-col__title {
    font-size: 14px;
  }
  .hero-2-col__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 929px) {
  .hero-2-col__title {
    font-size: 13px;
  }
}

@media screen and (max-width: 920px) {
  .hero-2-col__title {
    font-size: unset;
  }
  .hero-2-col__subtitle {
    font-size: unset;
  }
  .hero-2__down {
    flex-direction: column;
  }
  .hero-2__col-wrap {
    margin-right: unset;
    margin-bottom: 30px;
    justify-content: center;
  }
  .hero-2-col__subtitle {
    width: 200px;
  }
}

@media screen and (max-width: 587px) {
  .hero-2__col-wrap {
    flex-direction: column;
    align-items: center;
  }
  .hero-2__cols {
    margin-right: unset;
    margin-bottom: 30px;
  }
}

// our service

@media screen and (max-width: 1240px) {
  .our-service-image {
    background-size: contain;
  }
}

@media screen and (max-width: 920px) {
  .our-service__img {
    min-height: 525px;
    width: 100%;
    position: unset;
    left: unset;
    margin-right: 0;
    background-size: contain;
    margin: 0 auto;
  }
  .our-service__content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 715px) {
  .our-service__info {
    margin-top: -20px;
  }
}

@media screen and (max-width: 765px) {
  .hero-2 {
    margin-bottom: -25px;
  }
}

@media screen and (max-width: 600px) {
  .our-service__info {
    margin-top: -50px;
  }
  .hero-2 {
    margin-bottom: -65px;
  }
}

@media screen and (max-width: 560px) {
  .hero-2 {
    margin-bottom: -105px;
  }
}

@media screen and (max-width: 445px) {
  .our-service__info {
    margin-top: -90px;
  }
  .our-service__col-title {
    font-size: 16px;
  }
  .our-service__col-subtitle {
    font-size: 13px;
  }
  .hero-2 {
    margin-bottom: -145px;
  }
}

@media screen and (max-width: 420px) {
  .our-service__col {
    flex-direction: column;
    text-align: center;
  }
  .our-service__title {
    text-align: center;
  }
  .our-service__col-icon {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .our-service__col-title {
    margin-bottom: 05px;
  }
  .our-service__col-subtitle {
    max-width: 260px;
  }
}

@media screen and (max-width: 1220px) {
  .offering__content {
    flex-direction: column;
  }
  .offering__column {
    flex-direction: row;
    justify-content: center;
    margin-right: unset;
  }
  .offering__col {
    margin-right: 40px;
  }
  .offering__col:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 845px) {
  .offering__col-title {
    font-size: 22px;
  }
  .offering__col-subtitle {
    font-size: 14px;
  }
  .offering__col {
    margin-right: 25px;
  }
}

@media screen and (max-width: 819px) {
  .offering__column {
    flex-direction: column;
    align-items: center;
  }
  .offering__col {
    margin-right: 0;
  }
  .offering__col-subtitle {
    max-width: 230px;
  }
}

// col-4-lines
@media screen and (max-width: 985px) {
  .col-4-line__title {
    font-size: 20px;
  }
  .col-4-line__subtitle {
    font-size: 30px;
  }
  .col-4-line__content {
    justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  .col-4-line__title {
    font-size: 15px;
  }
  .col-4-line__subtitle {
    font-size: 15px;
  }
}


@media screen and (max-width: 1135px) {
  .swiper-container__galary {
    height: 410px;
  }
}

@media screen and (max-width: 915px) {
  .swiper-container__galary {
    height: 350px;
  }
}

@media screen and (max-width: 785px) {
  .swiper-container__galary {
    height: 310px;
  }
}

@media screen and (max-width: 665px) {
  .swiper-container__galary {
    height: 280px;
  }
}

@media screen and (max-width: 535px) {
  .swiper-container__galary {
    height: 230px;
  }
}


@media screen and (max-width: 600px) {
  .swiper-pagination-bullet {
    margin-right: 20px !important;
    font-size: 11px;
  }  
}
@media screen and (max-width: 404px) {
  .swiper-container__galary {
    height: 200px;
  }
  .swiper-pagination-bullet {
    margin-right: 10px !important;
    font-size: 10px;
  }  
}

@media screen and (max-width: 340px) {
  .swiper-container__galary {
    height: 170px;
  }
  .swiper-pagination-bullet {
    margin-right: 5px !important;
    font-size: 10px;
  }  
}

// team members

@media screen and (max-width: 1265px) {
  .team-members__column {
    margin-right: 15px;
  }
  .team-members__column:last-child {
    margin-right: 9;
  }
  .team-mambers__face {
    padding-right: 65px;
    padding-left: 65px;
  }
}

@media screen and (max-width: 1015px) {
  .team-members__link {
    margin-right: 13px;
  }
  .team-members__link:last-child {
    margin-right: 0;
  }
  .team-mambers__face {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 920px) {
  .team-members__wrap {
    flex-direction: column;
    align-items: center;
  }
  .team-members__column {
    margin-right: 0;
    margin-bottom: 35px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .team-members__column:last-child {
    margin-right: 0;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 525px) {
  .team-members__column {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 395px) {
  .team-members__column {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1040px) {
  .feedback__wrap {
    max-width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .feedback__wrap {
    max-width: 355px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .feedback-content__text-p {
    font-size: 14px;
  }
}

@media screen and (max-width: 465px) {
  .feedback__wrap {
    // max-width: 255px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .feedback-content__text-p {
    font-size: 12px;
  }
  .feedback-content__text {
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .feedback-content__title-name {
    font-size: 14px;
  }
  .feedback-content__subtitle-name {
    font-size: 11px;
  }
  .feedback-content__face {
    width: 110px;
  }
}

// form

@media screen and (max-width: 745px) {
  .footer-form__input-wrap {
    margin-right: 0;
  }
  .footer-form__content {
    align-items: center;
    flex-direction: column;
  }
  .footer-form__input-massage {
    height: 145px;
    width: 225px;
    margin-bottom: 20px;
  }
  .footer-form__policy-label {
    font-size: 16px;
  }
  .footer-form__policy-label::before {
    width: 27px;
    height: 27px;
  }
  .footer-form__policy-input:checked +
    .footer-form__policy-label::before {
      width: 29px;
      height: 29px;
  }
}

@media screen and (max-width: 327px) {
  .footer-form__policy-label {
    font-size: 15px;
  }
}

@media screen and (max-width: 685px) {
  .footer-under__content {
    justify-content: space-between;
  }
  .footer-under__address-it {
    width: 170px;
  }
}

@media screen and (max-width: 425px) {
  .footer-under__content {
    justify-content: unset;
    flex-direction: column;
    align-items: center;
  }
  .footer-under__column {
    margin-bottom: 35px;
  }
  .footer-under__column:last-child {
    margin-bottom: 0;
  }
  .footer-under__address {
    text-align: center;
  }
  .footer-under__address-it {
    width: unset;
  }
}