a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: unset;
}

ol, ul {
	list-style: none;
}

li, ul {
  margin: 0;
	padding: 0;
	border: 0;
  font-size: unset;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
	padding: 0;
	border: 0;
}

body {
  box-sizing: border-box;
}

.set-text-center {
  text-align: center;
  margin: 0 auto;
}

.scrollup {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 2;
}

.scrollup img {
  transform: rotate(90deg);
  width: 60px;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.scrollup img:hover {
  opacity: 1;
}

.footer-form__input-block {
  display: flex;
  flex-direction: column;
}

textarea {
  display: flex;
  flex-direction: column;
}

.error-massage {
  color: tomato;
  font-family: sans-serif;
  margin-bottom: 5px;
}

input.error-massage {
  border-bottom: 1px solid tomato;
}

textarea.error-massage {
  border-bottom: 1px solid tomato;
}

.footer-form__policy-input {
  // visibility: visible !important;
  // opacity: 1 !important;
  display: block !important;
  
}

.footer-form__policy > .error-massage {
  text-align: center;
}